    <!-- GeoExplorer resources -->
    <link rel="stylesheet" type="text/css" href="../theme/app/geoexplorer.css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="../theme/app/ie.css"/><![endif]-->        
    <link rel="stylesheet" type="text/css" href="../theme/ux/colorpicker/color-picker.ux.css" />
    <script type="text/javascript" src="../script/GeoExplorer.js"></script>

    <!-- PrintPreview resources -->
    <link rel="stylesheet" type="text/css" href="../externals/PrintPreview/resources/css/printpreview.css">

    <style>
      .olControlMousePosition {
         background: #FFFFFF;
      }
    </style>
    <script>
        // optionally set locale based on query string parameter
        if (GeoExt.Lang) {
            GeoExt.Lang.set(OpenLayers.Util.getParameters()["locale"] || GeoExt.Lang.locale);
        }
        Ext.BLANK_IMAGE_URL = "../theme/app/img/blank.gif";
        OpenLayers.ImgPath = "../theme/app/img/";
        // optionally set locale based on query string parameter
        if (GeoExt.Lang) {
            GeoExt.Lang.set(OpenLayers.Util.getParameters()["locale"] || GeoExt.Lang.locale);
        }
        var app = new GeoExplorer.Composer({
            authStatus: {{status}},
            proxy: "../proxy/?url=",
            printService: "/geoserver/pdf/",
            apiKeys: {
                "localhost": "ABQIAAAAeDjUod8ItM9dBg5_lz0esxTnme5EwnLVtEDGnh-lFVzRJhbdQhQBX5VH8Rb3adNACjSR5kaCLQuBmw",
                "localhost:8080": "ABQIAAAAeDjUod8ItM9dBg5_lz0esxTnme5EwnLVtEDGnh-lFVzRJhbdQhQBX5VH8Rb3adNACjSR5kaCLQuBmw",
                "example.com": "-your-api-key-here-"
            },
            about: {
                title: "GeoExplorer Demo Map",
                "abstract": "This is a demonstration of GeoExplorer, " +
                    "an application for assembling and publishing web " +
                    "based maps.  After adding layer to the map, find " +
                    "the 'Export Map' button above to embed this map " +
                    "in any web page.",
                contact: "For more information, contact <a href='http://opengeo.org'>OpenGeo</a>."
            },
            defaultSourceType: "gxp_wmscsource",
            sources: {
                local: {
                    url: "/geoserver/ows",
                    title: "Local GeoServer",
                    ptype: "gxp_wmscsource"
                },
                cartomur: {
                  url: "http://cartomur.imida.es/SgdWms/SgdWms_cartomur.dll/WMS?",
                    title: "CARTOMUR"
                }, 
                catastro: {
                  url: "http://www1.sedecatastro.gob.es/Cartografia/WMS/ServidorWMS.aspx?",
                    title: "catastro"
                }, 
                mapabase: {
                  url: "http://iderm.imida.es/arcgis/services/TOPOGRAFICOS/Topografico_UTM_ETRS89/MapServer/WMSServer",
                  title: "MAPABASE"
                },
                topograficos: {
                  url: "http://iderm.imida.es/arcgis/services/TOPOGRAFICOS/MTR/MapServer/WMSServer",
                  title: "TOPOGRAFICOS"
                },
                ol: {
                    ptype: "gxp_olsource"
                }
            },
            map: {
                projection: "EPSG:25830",
                units: "m",
                maxResolution: 305.748113140558,
                maxExtent: [
                    518423, 4118918,
                    740113, 4318973
                ],
                numZoomLevels: 12,
                layers: [{
                  title: "Orto 2009",
                  name: "Ortofoto_2009",
                  source: "cartomur",
                  group: "background"
                }, { 
                  source: "ol",
                  group: "background",
                  type: "OpenLayers.Layer.ArcGIS93Rest",
                  args: [
                    "Natmur 2008",
                    "http://iderm.imida.es/ArcGIS/rest/services/Raster/Natmur2008_UTM_ETRS89/MapServer/export", 
                    {layers: "show:0", format: 'jpeg'}, 
                    {singleTile: false, visibility: false, noLegend: true}
                  ]
                }, {
                  source: "ol",
                  group: "background",
                  type: "OpenLayers.Layer.ArcGIS93Rest",
                  args: [
                    "Mapa Topográfico",
                    "http://iderm.imida.es/ArcGIS/rest/services/TOPOGRAFICOS/MTR/MapServer/export",
                    {layers: "show:0", format: 'jpeg'}, 
                    {singleTile: false, visibility: true, noLegend: true}
                  ]
                }, {
                    source: "ol",
                    group: "background",
                    fixed: true,
                    type: "OpenLayers.Layer",
                    args: [
                        "None", {visibility: false}
                    ]
                }],
                center: [0, 0],
                zoom: 1
            }
        });
        app.on("ready", function () {
          app.mapPanel.map.addControl(new OpenLayers.Control.MousePosition(
            {numDigits: 0, suffix: ' m ETRS89', prefix: ' x, y: ', separator: ' m, '}
          )); 
        });
    </script>
